
*.zip

LP_logistic_regression/facial_recognition/example_submission\.csv

LP_logistic_regression/facial_recognition/fer2013\.bib

LP_logistic_regression/facial_recognition/fer2013\.csv


*.npy

practice/minuteData\.json

practice/raceData\.json

LP_deep_learning_2/digit_train.csv
LP_deep_learning_2/digit_test.csv

practice/cryptoData\.db

*.pyc

LP_deep_learning_2/facial_recognition/fer2013\.bib

LP_deep_learning_2/facial_recognition/fer2013\.csv

LP_deep_learning_2/facial_recognition/example_submission\.csv

LP_deep_learning_2/facial_recognition/emotion\.csv

LP_deep_learning_2/facial_recognition/pixels_300compPCA\.csv

large_files/

LP_convolution/large_files/
LP_convolution/facial_recognition/fer20130\.csv

LP_convolution/facial_recognition/fer2013\.csv

wordnet/

transcriptions/word2idx\.json

transcriptions/GRU_yogis/

transcriptions/LSTM_yogis_D100_cr60/

*.mypy_cache*
